/* for a more complex reset, instead of *; follow Manny's link*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/** BODY STYLING **/

body {
  background-color: rgba(255, 0, 191, 0.25);
}

h1 {
  font-family: ink free;
  color: black;
  font-size: 8rem;
  font-weight: 900;
}

h2 {
  font-family: calibri;
  color: black;
  font-size: 3rem;
}

h3 {
  font-family: calibri;
}

p {
  font-family: calibri;
}

#game-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  background-image: url("../TECH-ED-SD023-Week-03/assets/background.webp");
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-row-start: 2;
}

/** SHOP CONTAINER STYLING **/

#shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 1;
}

/** IMAGE DIV STYLING **/

#image-div {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
}

#cat-image {
  /* position: absolute; */
  height: 30rem;
  width: auto;
  box-shadow: 0 0 50px rgb(63, 54, 49);
  border-radius: 100%;
}

#image-button {
  height: 30rem;
  width: auto;
  box-shadow: 0 0 50px rgb(255, 115, 50);
  border-style: none;
  border-radius: 100%;
}

#image-button:hover {
  height: 30rem;
  width: auto;
  background: rgba(241, 15, 241, 0.5);
  box-shadow: 0 0 10px rgb(255, 81, 0);
  border-radius: 100%;
}

/** SHOP DIV STYLING **/

/* 
#item-image {
} */

/** BUY BUTTON STYLING **/
button {
  width: 5em;
  height: 3em;
  /* z-index: 100; */
  /* border-radius: 50%; */
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(255, 115, 0);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 750;
}

.buy-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
