/* for a more complex reset, instead of *; follow Manny's link*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background-image: url("../TECH-ED-SD023-Week-03/assets/background.webp"); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

/** IMAGE BUTTON STYLING **/
#cat-image {
  height: 20rem;
  width: auto;
  box-shadow: 0 0 50px rgb(63, 54, 49);
  border-radius: 100%;
}

#image-button {
  height: 20rem;
  width: auto;
  box-shadow: 0 0 50px rgb(255, 115, 50);
  border-style: none;
  border-radius: 100%;
}

#image-button:hover {
  height: 20rem;
  width: auto;
  background: rgba(241, 87, 15, 0.5);
  box-shadow: 0 0 10px rgb(255, 81, 0);
  border-radius: 100%;
}

/** SHOP ITEM IMAGE STYLING **/

#item-image {
}

/** BUY BUTTON STYLING **/
button {
  width: 5em;
  height: 3em;
  /* z-index: 100; */
  /* border-radius: 50%; */
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(255, 115, 0);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 750;
}

.buy-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
