/* for a more complex reset, instead of *; follow Manny's link*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 123, 0, 0.25);
}

img {
  height: 20rem;
  width: auto;
}
