/* always start with a reset*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* STYLE YOUR WEBSITE USING CSS - BE ORGANISED AND WORK IN SECTIONS: */

/** BODY  **/

/** SHOP CONTAINER **/

/** SHOP - BUY BUTTON **/

/** IMAGE/CLICKABLE ELEMENT **/

/** GAME STATS **/
